# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env

# pytest
.cache/
.pytest_cache/

# Poetry
poetry.lock

# MyPy / Coverage / Logs
.mypy_cache/
.coverage
htmlcov/
*.log

# Docker
*.pid
*.tar
*.bak

# Kubernetes
*.yaml~
